h1 {
    text-align: center;
    font-size: 2em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6; /* gray-100 */
    text-decoration: none;
}

.todo-card {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}